<mat-toolbar color="primary" class="mat-elevation-z8"> 
    <img id="logo"> My app 

    <span class="spacer"></span>
    <a mat-button routerLink="home"> <mat-icon></mat-icon> Home</a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="about">gallery</a>
    <a mat-button routerLink="about">Offers</a>
    <a mat-button routerLink="about">More</a>
    <a mat-button routerLink="about">More</a>

    <a mat-raised-button  color="accent" routerLink="contactus" id="cotactus"> Contact Us</a>

</mat-toolbar>