<!-- <mat-toolbar id="toolbar"color="primary" class="mat-elevation"> 
    <img id="logo"> My app 

    <span class="spacer"></span>
    <a mat-button routerLink="home"> <mat-icon></mat-icon> Home</a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="gallery">gallery</a>
    <a mat-button routerLink="offers">Offers</a>
    <a mat-button routerLink="gallery">More</a>
    <a mat-button routerLink="prices">More</a>
    

    <button mat-raised-button  color="accent" routerLink="contactus" id="contactus"> Contact Us</button>

</mat-toolbar> -->


<nav  id="toolbar" class="navbar navbar-expand-lg navbar-light bg-primary">

    <a  class="navbar-brand" routerLink="home"><img id="logo"> My app </a>
    <button class="navbar-toggler" type="button"(click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a mat-button  routerLink="home">Home</a>
                </li>

                <li>
                    <a mat-button routerLink="about">About</a>
                </li>
                <li>
                    <a mat-button routerLink="gallery">gallery</a>
                </li>
                <li>
                    <a mat-button routerLink="offers">Offers</a>
                </li>
                <li>
                    <a mat-button routerLink="gallery">More</a>
                </li>
                <li>
                    <a mat-button routerLink="prices">More</a>
                </li>                             
            </ul>
            
            <ul>
                <li  >
                    <button class="btn-outline-primary" routerLink="contactus">Contact Us</button>
                </li> 
            </ul>
        </div>


</nav>

    <!--Links-->
    <!-- <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            Active Link
            <a class="nav-item nav-link active" routerLink="home">Home</a>
            <a mat-button routerLink="about">About</a>
            <a mat-button routerLink="gallery">gallery</a>
            <a mat-button routerLink="offers">Offers</a>
            <a mat-button routerLink="gallery">More</a>
            <a mat-button routerLink="prices">More</a>
    

        </div>
     
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
         
       
    </div> -->