<div id= "container" fxLayout="row wrap" fxLayoutAlign="center center">
    <ng-container *ngFor="let product of products">
      <mat-card id="container2" class="myCard" fxFlex="20%" fxFlex.xs="30%" fxLayoutAlign="center center" 
      fxLayout="column wrap">
      <mat-card-title> {{product.name}} </mat-card-title>
        <img mat-card-image style="width: 80px; height: 80px"
          [src]="product.image" alt="{{product.altetxt}}">
          <p>{{product.description}}</p>
          <mat-card-subtitle id="price">{{product.price}} $</mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="#">{{product.button}}</button>
            </mat-card-actions>

      </mat-card>
    </ng-container>
  </div>