@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.carousel-inner img {
    width: 100rem;
    height: 50rem;
      margin-left: 9rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      box-shadow: 20px 20px rgb(129, 127, 127), -10px 0 10em rgb(30, 28, 165);
      }
  
    #prev{
      color: black;
      width: 30rem;
    }
    #next{
      color: black;
    }